{% load static %}
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main:Home' %}">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo" width="30" class="rounded mx-2 d-inline-block align-text-top">
            <span class="color">
                CYMA
            </span>
        </a>
        {% if request.path == '/primeHome/' %}
        <div class="ms-auto">
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-1">
                    <a href="{% url 'main:Home' %}" class="nav-link">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>