{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-lg-4 col-lg-4 text-center py-5 animate__animated animate__fadeIn">
                <img src="{% static 'img/logo.jpg' %}" alt="logo" class="rounded" width="100">
                <h1 class="my-4">Bienvenido a CYMA</h1>
                <form method="GET" action="{% url 'main:Questionnaire' %}">
                    <div class="px-4">
                        <p class="my-4 fs-4">Antes de iniciar el cuestionario por favor indícanos cuál es tu nombre</p>
    
                        <input type="text" class="form-control fs-4" name="name" placeholder="Ingresa tu nombre" autocomplete="off" required>
    
                        <button type="submit" class="btn btn-outline-success btn-lg m-4 w-150" id="btnSpinner">Continuar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('btnSpinner').addEventListener('click', function (event) {
            const form = this.closest('form'); // Busca el formulario más cercano

            if (!form.checkValidity()) {
                // Si el formulario no es válido, evita el submit y deja que el navegador muestre el mensaje
                event.preventDefault();
                form.reportValidity(); // Lanza los mensajes nativos de validación
                return;
            }

            // Si es válido, muestra el spinner y deja que el form se envíe normalmente
            this.disabled = true;
            this.innerHTML = `
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Cargando...</span>
            `;
            form.submit();
        });
    </script>
{% endblock %}