{% extends 'base/base.html' %}
{% load myTags %}

{% block content %}
    <div class="container animate__animated animate__fadeIn">
        <h2 class="color mb-3 text-center">
            Bienvenido a CYMA Prime <i class="fa-solid fa-crown text-primary"></i>
        </h2>
        <p class="text-justify mb-4">
            Elije el tema que deseas explorar para mejorar tu bienestar físico y mental. Cada sección está diseñada para ofrecerte herramientas prácticas y efectivas que te ayudarán a reducir el estrés, mejorar tus hábitos de sueño y fomentar una vida más equilibrada.
        </p>
        <div class="list-group text-center">
            <a href="{% url 'main:PrimeView' %}?view=1" class="list-group-item list-group-item-action py-3 border-secondary">
                Introducción
            </a>
            <a href="{% url 'main:PrimeView' %}?view=2" class="list-group-item list-group-item-action py-3 border-secondary">
                Técnicas de relajación
            </a>
            <a href="{% url 'main:PrimeView' %}?view=3" class="list-group-item list-group-item-action py-3 border-secondary">
                Hábitos de Sueño Saludables
            </a>
            <a href="{% url 'main:PrimeView' %}?view=4" class="list-group-item list-group-item-action py-3 border-secondary">
                Técnicas de Meditación
            </a>
            <a href="{% url 'main:PrimeView' %}?view=5" class="list-group-item list-group-item-action py-3 border-secondary">
                Actividad Física para el Bienestar
            </a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const btnAdvisoryRequest = document.getElementById("btnAdvisoryRequest");

            btnAdvisoryRequest.addEventListener("click", function () {
                Swal.fire({
                    title: '¡Solicitud creada!',
                    text: 'Uno de nuestros profesionales se estará comunicando contigo en el menor tiempo posible por medio del teléfono que registrastes.',
                    icon: 'success',
                    confirmButtonText: 'Aceptar',
                    confirmButtonColor: '#4d657d'
                });
            });
        });
    </script>
{% endblock %}