.color, h1 {
    color: #bbded1 !important;
}

.w-150 {
    width: 150px !important;
}

.form-check-input:checked {
    background-color: #2aa198 !important;
    border-color: #2aa198 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #bbded1 !important;
}

.text-justify {
    text-align: justify;
}